/node_modules
/dist

# IDE
.vscode
.idea

# Tests
/coverage

# dotenv environment variable files
.env
.env.*
!.env.example

# Package
*.tgz

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Cache
.eslintcache

# Other
._*
.DS_Store
Thumbs.db
Desktop.ini
